# MongoDB
MONGO_USER=admin
MONGO_PASSWORD=secret
MONGO_DB_NAME=peopleflow
# For local dev (without Docker), point to localhost:
# MONGO_URL=mongodb://admin:secret@localhost:27017/peopleflow?authSource=admin
# For Docker Compose, use the service name 'mongo':
MONGO_URL=mongodb://admin:secret@mongo:27017/peopleflow?authSource=admin

# App
APP_PORT=8000
