fastapi>=0.111.0
uvicorn[standard]>=0.30.0
pymongo>=4.7.0
pydantic[email]>=2.7.0
pydantic-settings>=2.3.0
python-dotenv>=1.0.0
APScheduler>=3.10.4

# Testing
pytest>=8.0.0
httpx2>=0.28.0
mongomock>=4.1.2
